*{
    padding: 0;
    margin-right: 0;
    box-sizing: border-box;
    background-color: #222831;
    color:#fff;
}
body{
    overflow-y: hidden;
}

.container{
    margin-top: 30px;
    width: 90%;
    justify-content: center;
}
.table-responsive{
    padding: 20px 20px;
    max-height: 550px;
    border-radius: 20px;
    box-shadow: rgba(205, 5, 5, 0.622) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    scroll-behavior: smooth;
    display: flex;
    font-weight:wrap;
}

.covid{
    color:red;
}
.header{
    font-size: 25px;
    color:#B3FFAE;
    position: sticky;
}
tbody{
    font-size: 20px;
}
.state:hover{
    background-color: #BAE8E8;
    color:black;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.confirm:hover{
    background-color:#FF6464;
    color:black;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    cursor: pointer; 
}
.recover:hover{
    background-color: #B3FFAE;
    color:black;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.deaths:hover{
    background-color: red;
    color:black;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.active:hover{
    background-color: #F9D923;
    color:black;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.update:hover{
    background-color: #B6FFCE;
    color:black;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    cursor: pointer;
};
